*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body{
    background: rgb(66,58,180);
    background: linear-gradient(227deg, rgba(66,58,180,1) 1%, rgba(159,194,204,1) 42%, rgba(190,42,203,1) 80%);
}
.App{
    max-width: 1200px;
    min-height: 500px;
    display: flex;
    /* background-color: rgba(57, 194, 228, 0.473); */
    margin: auto;
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    
    
}
.main-container{
    max-width: 1000px;    
    margin: 0 auto;
    text-align: center;
    /* background-color: rgba(227, 230, 87, 0.678); */
}
.reset-button {
    padding: 3px 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 37, 37);
    border:  2px solid rgb(255, 255, 255);
    border-radius: 8px;

    
}

.input-form{
    /* background-color: #fff; */
    margin: 30px 100px;
}

.input-field{
    padding: 8px 15px;
    font-size: 18px;
    color: rgb(95, 95, 95);
}

.add-button{
    padding: 8px 15px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    background-color: #2bbae3;
    
}

